*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.logo-image{
        display: flex;
        align-items: left;
}

#header-img img {

}

#nav-bar {
    display: flex;
}

#nav-bar ul{
padding: 0;
list-style: none;
}

#nav-bar ul li{
display: inline-block;
}

#nav-bar ul li a{
    text-decoration: none;
    margin-left: 30px;
}